html, body {
	margin: 0;
	padding: 0;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.no-padding {
    padding: 0;
}

.navbar-default {
	width: 99vw;
  border-color: rgb(0,0,0);
  font-family: "Carrois Gothic",sans-serif;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: "Carrois Gothic",sans-serif;
		font-size: 2em;
    font-weight: 700;
    color: rgb(0,0,0);
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #f05f40;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

.carousel {
	padding: 0;
	margin: 0;
}

.carousel .item {
    width: 100vw; /*slider width*/
}
.carousel .item img {
    width: 100vw; /*img width*/
		max-height: 700px;
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
		margin-top: 22%;
}

.section-header {
	background-color: white;
}

.section-heading {
	background-color: white;
	color: rgb(21,21,21);
	height: 70px;
	margin-top: 45px;
}

.section-heading-footer {
	background-color: white;
	color: rgb(21,21,21);
	height: 50px;
	margin-top: 35px;
}

#meet-the-team h2, #the-shop h2, #kingston h2 {
	font-size: 2.9em;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.btn {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2px;
	background-color: white;
	color: white;
	border: none;
}

.btn:hover {
	background-color:rgba(255,255,255,0);
	padding: 0;
}

.frame-size {
	height: 250px;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.team-pic {	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.picture-description {
	position: relative;
	z-index: 1;
	bottom: 22%;
	background-color: rgba(248,248,248,0.6);
	color: rgb(51,51,51);
	font-family: 'Carrois Gothic SC', sans-serif;
	display: none;
}

.service-box i {
	font-size: 2.8em;
	color: rgb(51,51,51);
}

.service-box h3 {
	font-family: 'Carrois Gothic SC', sans-serif;
}

#contact-us-button:hover {
	background-color:rgba(255,255,255,0);
	border:none;
}

#facebookButton {
	padding: 0;
}

#facebookButton:hover {
	padding: 0;
}

/*full width container*/
@media (max-width: 780px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
		.navLink a {
			font-size: 0.5em;
		}
}

@media (max-width: 1060px) and (min-width: 781px) {
	.navLink a {
    font-size: .7em;  
  }
}



